<div id="component" class="d-flex flex-column vh-100">
  <header class="d-flex">
    <a
      href="librarian-aide-dashboard"
      class="d-flex align-items-center px-2"
      style="background-color: #00afff"
    >
      <img src="../../../assets/images/left-arrow (3).png" height="32" />
    </a>
    <div
      class="flex-grow-1 d-flex p-3 align-items-center gap-3 shadow"
      style="background-color: #002862"
    >
      <img
        src="../../../assets/images/220px-LNUTaclobanLogo-removebg-preview.png"
        height="64"
      />
      <h1 class="text-light">Library Management System</h1>
    </div>
  </header>

  <div class="flex-grow-1 d-flex flex-column gap-3 p-5 py-4">
    <span class="h4 m-0">Transactions</span>

    <div class="d-flex gap-5">
      <form class="w-25 d-flex flex-column gap-2">
        <div>
          <label>First name:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="firstname"
          />
        </div>
        <div>
          <label>Last name:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="lastname"
          />
        </div>
        <div>
          <label>ID Number:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="id_number"
          />
        </div>
        <div>
          <label>Email:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="email"
            formControlName="email"
          />
        </div>
        <div>
          <label>Password:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="password"
            formControlName="password"
          />
        </div>
        <div>
          <label>Type:</label>
          <select
            class="form-select form-select-sm bg-primary-subtle"
            formControlName="type"
          >
            <option value="librarian">Librarian</option>
            <option value="borrower">Borrower</option>
            <option value="librarian-aide">Librarian Aide</option>
          </select>
        </div>
        <div>
          <label>Contact</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="contact"
          />
        </div>
        <div class="d-flex mt-2 px-3 gap-3">
          <button type="submit" class="flex-grow-1 btn btn-sm btn-primary">
            Add
          </button>
          <button type="reset" class="flex-grow-1 btn btn-sm btn-primary">
            Cancel
          </button>
        </div>
      </form>

      <div class="flex-grow-1 table-responsive border">
        <table class="table table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Date</th>
              <th scope="col">Book Name</th>
              <th scope="col">ISBN</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bb of borrowedBooks">
              <td>{{ bb.borrower.firstname + " " + bb.borrower.lastname }}</td>
              <td>{{ bb.borrower.id_number }}</td>
              <td>{{ bb.borrowed_date }}</td>
              <td>{{ bb.book.title }}</td>
              <td>{{ bb.book.isbn }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-warning me-2"
                  *ngIf="!bb.is_approved"
                  (click)="approve(bb)"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                  *ngIf="bb.is_approved"
                >
                  Return
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-alert />
