<div id="component" class="d-flex flex-column vh-100">
  <header class="d-flex">
    <a
      routerLink="/{{ user?.type }}"
      class="d-flex align-items-center px-2"
      style="background-color: #00afff"
    >
      <img src="../../../assets/images/left-arrow (3).png" height="32" />
    </a>
    <div
      class="flex-grow-1 d-flex p-3 align-items-center gap-3 shadow"
      style="background-color: #002862"
    >
      <img
        src="../../../assets/images/220px-LNUTaclobanLogo-removebg-preview.png"
        height="64"
      />
      <h1 class="text-light">Library Management System</h1>
    </div>
  </header>

  <div class="flex-grow-1 d-flex flex-column gap-3 p-5 py-4">
    <span class="h4 m-0">Transactions</span>

    <div class="d-flex gap-5">
      <div class="flex-grow-1 table-responsive border">
        <table class="table table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Date</th>
              <th scope="col">Book Name</th>
              <th scope="col">ISBN</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bb of borrowedBooks">
              <td>{{ bb.borrower.firstname + " " + bb.borrower.lastname }}</td>
              <td>{{ bb.borrower.id_number }}</td>
              <td>{{ bb.borrowed_date }}</td>
              <td>{{ bb.book.title }}</td>
              <td>{{ bb.book.isbn }}</td>
              <td>{{ bb.quantity }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-warning"
                  *ngIf="!bb.is_returned == true; else asd"
                  (click)="clickReturn(bb)"
                  data-bs-toggle="modal"
                  data-bs-target="#asd"
                >
                  Return
                </button>
                <ng-template #asd>Returned</ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-alert />

<div class="modal" id="asd" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Return book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Confirm return book?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="returnBook()"
        >
          Return
        </button>
      </div>
    </div>
  </div>
</div>
