<div id="component" class="d-flex flex-column vh-100">
  <header class="d-flex">
    <a
      href="librarian"
      class="d-flex align-items-center px-2"
      style="background-color: #00afff"
    >
      <img src="../../../assets/images/left-arrow (3).png" height="32" />
    </a>
    <div
      class="flex-grow-1 d-flex p-3 align-items-center gap-3 shadow"
      style="background-color: #002862"
    >
      <img
        src="../../../assets/images/220px-LNUTaclobanLogo-removebg-preview.png"
        height="64"
      />
      <h1 class="text-light">Library Management System</h1>
    </div>
  </header>

  <div class="flex-grow-1 d-flex flex-column gap-3 p-5 py-4">
    <span class="h4 m-0">Account Management</span>
    <div class="d-flex gap-3">
      <button class="btn btn-sm btn-primary">Librarian</button>
      <button class="btn btn-sm btn-primary">Borrower</button>
      <button class="btn btn-sm btn-primary text-nowrap me-auto">
        Librarian Aide
      </button>
      <div class="justify-self-end">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Search"
          [formControl]="searchQuery"
          (input)="searchUsers()"
        />
      </div>
    </div>

    <div class="d-flex gap-5">
      <form
        class="w-25 d-flex flex-column gap-2"
        [formGroup]="addUserForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <label>Name:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="name"
          />
        </div>
        <div>
          <label>ID Number:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="id_number"
          />
        </div>
        <div>
          <label>Email:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="email"
            formControlName="email"
          />
        </div>
        <div>
          <label>Password:</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="password"
            formControlName="password"
          />
        </div>
        <div>
          <label>Type:</label>
          <select
            class="form-select form-select-sm bg-primary-subtle"
            formControlName="type"
          >
            <option value="librarian">Librarian</option>
            <option value="borrower">Borrower</option>
            <option value="librarian-aide">Librarian Aide</option>
          </select>
        </div>
        <div>
          <label>Contact</label>
          <input
            class="form-control form-control-sm bg-primary-subtle"
            type="text"
            formControlName="contact"
          />
        </div>
        <div class="d-flex mt-2 px-3 gap-3">
          <button type="submit" class="flex-grow-1 btn btn-sm btn-primary">
            Add
          </button>
          <button type="reset" class="flex-grow-1 btn btn-sm btn-primary">
            Cancel
          </button>
        </div>
      </form>

      <div class="flex-grow-1 table-responsive border">
        <table class="table table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col">Contact</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.name }}</td>
              <td>{{ user.id_number }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.type }}</td>
              <td class="align-middle">{{ user.contact }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-warning me-2"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  (click)="clickEditUser(user.id_number)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="deleteUser(user.id_number)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Edit user</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          [formGroup]="editUserForm"
          (ngSubmit)="editUserSubmit()"
        >
          <div class="col-12">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-12">
            <label class="form-label">ID Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="id_number"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="col-12">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Account type</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="type"
            >
              <option value="librarian">Librarian</option>
              <option value="borrower">Borrower</option>
              <option value="librarian-aide">Librarian Aide</option>
            </select>
          </div>
          <div class="col-12">
            <label class="form-label">Contact</label>
            <input type="text" class="form-control" formControlName="contact" />
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button
              class="btn btn-primary me-1"
              type="submit"
              data-bs-dismiss="modal"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-alert />
