#component {
  background-image: url("../../assets/images/21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bar {
  height: 5rem;
  background-color: #002862;
}
